.countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.3s ease-in-out;
}
.countries :hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -1px, 0px);
}

@media only screen and (max-width: 992px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 576px) {
  .countries {
    grid-template-columns: repeat(1, 1fr);
  }
}
